@import '../../../variables';
@import '../../../index.scss';

.container{
	max-width: 1440px;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.left{
		display: flex;
		align-items: center;
		gap: 70px;
		h1{
			margin-left: 40px;
		}
		

	}
	.right{
		display: flex;
		align-items: center;
		gap: 30px;
		.notif{
			background-color: $white;
			border: none;
			border-radius: 50%;
			width: 40px;
			height: 40px;
			outline: none;
			cursor: pointer;

		}
		button:nth-child(2){
			width: 120px;
			height: 40px;
			font-size: 16px;
			display: flex;
			align-items:center ;
			justify-content: space-between;
			padding: 0 20px;

		}
		.search{
			display: flex;
			align-items: center;
			
			>input{
				padding: 10px 30px;
				width: 200px;
				border: none;
				outline: none;
				border-radius: 10px;
				color:gray;
	
	
			}
			
			svg:first-child{
				position: relative;
				top: 0px;right: -30px;
				display: block;
				cursor: pointer;
				
				
			}
			.line{
				position: relative;
				top: 0px;right: 40px;
				height: 30px;
				width: 2px;
				background-color: $gray;
			}
			svg:last-child{
				position: relative;
				display: block;
				right: 40px;top: 0;
				cursor: pointer;
				padding: 8px;
				
			}
		}
	}
	
}